*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
    text-align: center;
    background-image: url(Images/bg.jpg) ;
    backdrop-filter: blur(8px);
    min-height: 100vh;
    display: flex;
  align-items: center;
    flex-direction: column;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(204, 184, 6);
    padding: 10px 0;
    width: 100%;
  }
  @media screen and (max-width: 600px) {
    header {
      font-size: 30px;
    }
  }
    
  footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgb(49, 49, 49); 
    opacity: 50%;
    background-blend-mode :hue;
  }
  .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
  }
  .playbtn{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  .move-icon {
    height: 90px;
  
  }
  .move-button {
    background-color: transparent;
    border: 3px solid white;
    padding: 10px 10px;
    border-radius: 80px;
    cursor: pointer;
  }
  
  .result {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(95, 69, 37);
    border-radius: 15px;
    margin-top: 2rem;
    
  }
  
  p {
    font-size: 20px;
  }
  .score{
    margin-top: 1rem;
  }
  .js-moves{
    font-size: 25px;
    margin-top: 2rem;
  }
  .reset-score-button,
  .auto-play-button {
    color: black;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
  }
  
  .chooses{
    display: flex;
    gap: 1rem;
    background-color: rgba(65, 143, 117, 0.469);
    margin-top: 1rem;
    padding: 10px 10px;
    border-radius: 10px;
  }
